<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!

        <div class="col-12">
            <form action="{% url 'admin:index' %}">
            <button type="submit" class="btn btn-danger">Панель администратора</button>
            </form>
        </div>

        <p></p>

        <div class="col-12">
            <form action="{% url 'count_page' %}">
            <button type="submit" class="btn btn-success">Начать подсчет</button>
            </form>
        </div>

        <p></p>
        <p></p>

        <div class="col-12">
            <form action="{% url 'logout' %}">
            <button type="submit" class="btn btn-primary">Logout</button>
            </form>
        </div>
{% else %}
  <p>You are not logged in</p>
        <div class="col-12">
        <form action="{% url 'login' %}">
            <button type="submit" class="btn btn-primary">Log in</button>
        </form>
        </div>
{% endif %}
{% endblock %}